/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */

body {
	background-image: linear-gradient( 180deg,  rgba(247,247,247,1) 23.8%, rgba(252,221,221,1) 92% );
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}

.results {
	display: flex;
	align-items: center;
	justify-content: center;
}

.result {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 400px;
	width: 300px;
}

.result img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

 .buttons {
	display: flex;
	align-items: center;
	justify-content: center;
} 

.names{
    display: flex;
	/* align-items: center;
	justify-content: center; */

}
/* #prev_names,#present_names{
    text-align: left; 
} */
#present_names{
    margin-left:140px!important;
}
button {
	background-color: darksalmon;
	border: 0;
	border-radius: 4px;
	color: #fff;
	font-size: 18px;
	padding: 10px;
	margin: 10px;
	width: 300px;
}

button:active {
	transform: scale(0.98);
}

button:focus {
	outline: none
}



.summ{
    text-align: center;
    margin-left: 18%;
}

.text-success{
    font-weight: 500;
    font-size: 20px;
}
#count{
/* color:green; */
text-align: center;
    margin-left: 28%;
}

#snaps{
    /* color:green; */
text-align: center;
    margin-left: 25%;

}

h1{
    margin-left: 20%;
}

/* @media (min-width: 355px) and (max-width: 412px){
h1{
    margin-top: 250%!important;
}
.results, .buttons{
    display: flex;
    flex-direction: column;

}
#count{
margin-left: 45%;
}
#summary{
    margin-left: -18%;

}
#snaps{
    margin-left: 38%;
}
} */